@page
@model PlanetSite.Pages.ThankYou.ThankYouPageModel
@{
}

<div class = "text-center">
    <h3>thanks </h3>
     <a class="btn btn-primary mt-1" asp-area="" asp-page="/Index">Back to Start Page</a>

</div>