@page
@model PlanetSite.Pages.NewUser.NewUserPageModel
@{
}
<div  >
    <div >
        <h2>Sign up</h2>
    </div>
    <div>
        <input type= "email" />Email
        <br />
        <input type= "password" />Password
        <br />
        <input type= "password" />Comfirm Password
        <br />
        <input type= "text" />Name
        <br />
        <input type= "number" />Age
        <br />
        <a class="btn btn-primary mt-1" asp-area="" asp-page="/ThankYou/ThankYouPage">Save</a>
    </div>
</div>