@page
@model PlanetSite.Pages.LogIn.LogInPageModel
@{
}
<div>
    <div>
        <h1>Log in</h1>
    </div>
    <div>
        <div>
            <input type="email" />Email
        </div>
        <div>
            <input type="password" />Password
        </div>
        <div>
            <a class="btn btn-primary mt-1" asp-area="" asp-page="/Home/HomePage">Submit</a>
        </div>
    </div>
    <div>
        <div>
            <a asp-area=""asp-page="/NewUser/NewUserPage"><p>Don't have an account?</p></a>
        </div>
    </div>
</div>