@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <img src="imges/logo.png" />
</div>

<div >
    <a class="btn btn-primary mt-1" asp-area="" asp-page="LogIn/LogInPage">Log In</a>
</div>
